
/* p's do superior */

.one {
    font-weight: 700;
    line-height: 1.25rem;
    color:  var(--bright-yellow);
    margin-bottom: 1rem;
}

.two {
    line-height: 1.625rem;
    color: var(--grayish-blue);
    font-size: 0.875rem;

}

.superior {
    padding-inline: 1.5rem;
    padding-top: 2rem ;
    padding-bottom: 2rem;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}

.esquerda  {
    background: var(--light-cyan);
    padding-inline: 1.5rem;
    
}

.primeiro_p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
    margin-right: 0.75rem;

}

.segundo_p {
    color: var(--white);
    opacity: 0.5;

}

.esquerda div {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}